[package]
name = "pvss"
version = "0.1.0"
type = "lib"
authors = ["Gnosis Guild / Enclave"]
license = "MIT"

[dependencies]
poseidon = { tag = "v0.1.1", git = "https://github.com/noir-lang/poseidon" }
bignum = { tag = "v0.4.2", git = "https://github.com/noir-lang/noir-bignum" }
safe = { path = "../safe" }

